@font-face {
  font-family: "iconfont"; /* Project id 3903466 */
  src: url('iconfont.woff2?t=1676721931530') format('woff2'),
       url('iconfont.woff?t=1676721931530') format('woff'),
       url('iconfont.ttf?t=1676721931530') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangshang:before {
  content: "\e600";
}

.icon-zhaoxiangji:before {
  content: "\e663";
}

.icon-fankuiyijian:before {
  content: "\e649";
}

.icon-xiangyou:before {
  content: "\e60c";
}

.icon-xiangzuo:before {
  content: "\e653";
}

.icon-sousuo:before {
  content: "\e622";
}

.icon-gouwuche:before {
  content: "\e652";
}

